# Dependencies
node_modules/

# Build output
dist/
build/
coverage/

# Environment files
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE and OS files
.idea/
.vscode/
.DS_Store
Thumbs.db

# Docker
docker-data/

# Terraform
**/.terraform/
**/.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Turborepo
.turbo/